@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
   font-family: 'Playfair Display' , sans-serif;
}

/*------------------------------Header---------------------------*/


#h-image {
    display: block;
    background: url("../../images/index-header.jpg") no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.navbar-brand {    
    letter-spacing: 8px;
    font-size: 24px;
    font-weight: bold; 
    text-transform: uppercase;    
    text-shadow: 1px 1px 0px #ccc;      
}

.bg-light {
    background-color: white!important;
}

/*------------------------------About us section---------------------------*/

.about-section {
 background-color: #eed3b7;
 color: #282930;
 }

.about {
    text-align: justify;
    padding-bottom: 20px;
}

.about-container {
    padding-top: 50px;
}

.about h2 {
   padding-bottom: 20px; 
}

.about p {
    font-size: 16px;
}

.about-us-image1 {  
    background: url("/images/kissing.jpg") no-repeat center;
    padding: 40px;
    max-height: 400px;
    max-width: 500px; 
}

.container-quotes {
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.quote-header {
    padding-bottom: 20px;
}

.quotes-image img{
    max-width: 300px;
    max-height: 250px;
}

.block-divider {
    border-top: solid 2px #282930;
}

.quotes-section {
    padding-bottom: 50px;
}

.quote-from {
    font-weight: bold;
}

.quote {
    font-style: italic;
}

/*------------------------------Rooms Page---------------------------*/

#h-image-rooms {
    display: block;
    background: url(../../images/pillows.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.rooms-background {
    background-color: #eed3b7;
}

.rooms-container {
    padding-top: 30px;
}

.rooms {    
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.bedroom {
    padding: 30px;
    max-height: 400px;
    max-width: 525px;
}

.rooms-text {
    margin-top: 40px;  
    text-align: center; 
}

.rooms-text h2 {
    padding-bottom: 20px; 
}

.room-description {
    text-align: justify;
    margin: 0 auto; 
    font-size: 16px;
}

.bottom-container {
    padding-bottom: 10px;
}


/*------------------------------Food Page---------------------------*/

#h-image-food {
    display: block;
    background: url(../../images/food-header.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.food-background {
   background-color: #eed3b7; 
}

.about-food-container {
    padding-top: 30px;
}

.food-image img {
    padding: 30px;
    max-height: 400px;
    max-width: 500px;        
}

.about-food {
    margin-top: 20px;  
    text-align: center; 
}

.about-food h2 {
    padding-bottom: 20px; 
}

.food-description {
    text-align: justify;
    margin: 0 auto; 
    padding-bottom: 20px;
}

.menus {
    margin: 0 auto;
    text-decoration: none;
    padding-top: 50px;
}

.menu-card img {
    max-height: 200px;
    max-width: 250px;
    
}

.menu-card {
    text-align: center;
    display: inline-block;
    margin: 0 auto;   
}

.menu-card a {
    text-decoration: none;
}

.menu-card h4 {
    color: #282930;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 50px;
}
/*------------------------------Enquiry---------------------------*/

#h-image-enquire {
    display: block;
    background: url(../../images/rings.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.enquire-section {
    background-color: #eed3b7;
}

.about-enquire p {
    text-align: justify;
    margin-top: 20px;
}

.about-enquire h2 {
    text-align: center;
    font-style: bold;
    margin-top: 50px;
}

.contact-us {
    background-color: #7f6a55;
    margin-top: 40px;
    text-align: center;    
}

.contact-details {
    padding: 25px;
}

.contact-us h3 {
    color:#bda58d;
    line-height: 40px;
}

.contact-us h4 {
    color:#f0efed;
    font-style: bold;
    line-height: 40px;
}

.enquiry-form {
    padding-top: 50px;
    text-align: center;
    
}

.enquiry-form input, textarea {
    width: 600px;
    margin-bottom: 10px;
}


button {
    margin-top: 20px;
    margin-bottom: 50px;    
}

button:hover {
    font-weight: bold;
}

/*------------------------------Gallery---------------------------*/

#gallery-image {
    display: block;
    background: url(../../images/gallery-header.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.gallery {
    background-color: #eed3b7;
}

.gallery-text {
    text-align: center;
    padding-top: 50px;
}

.slideshow {
    padding-top: 30px;
    padding-bottom: 50px;    
}

.slideshow img {
    max-height: 600px;    
}

/*------------------------------Footer---------------------------*/

footer {
    background-color: #282930;
    color: #eed3b7;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.address {
    margin-left: 30px;
    margin-top: 30px;
}

.winner i {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 38px;
}

.winner-text {
    padding-top: 10px;
    font-size: 30px;
}

.winner h5 {
    margin-left: 24px;       
}

.winner-award {
    font-size: 16px; 
}

.footer-links li a i {
    color: #eed3b7;
    padding-right: 18px;
    padding-top: 30px;
    font-size: 38px;
}

.copyright p {
    margin-left: 30px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*------------------------------Media Queries---------------------------*/

@media (max-width: 1075.98px) {
   .footer-links li a i {
        padding-right: 0px;
    }
}

@media (max-width: 1199.98px) {
    .bedroom {
        padding: 30px;
        max-height: 400px;
        max-width: 500px;
    }
    .rooms-text {
        padding-left: 30px; 
    }
}

 @media (max-width: 991.98px) {
     #heading {
         text-align: center;
     }
   .about-us-image1 img {  
        max-height: 400px;
        max-width: 500px;
    }
   .about-us-image1 {
       text-align: center;
   }
   .about h2 {
        text-align: center; 
    }
    .quote-header h2 {
        text-align: center;
    font-size: 22px;  
    }
   .quotes-image img {  
       padding: 30px;
        max-height: 400px;
        max-width: 500px;
    }
   .quotes-image {
       text-align: center;
       padding-bottom: 30px;
   }
   .quotes-text{
       text-align: center;
   } 
   .footer-links li a i {
        padding-right: 0px;
    } 
    .rooms-text {
        margin-top: 0px;   
        padding-bottom: 20px;
    }
    .food-image {
        text-align: center;
        padding-bottom: 20px;
    }
    .menu-card img {
       max-height: 500px;
       max-width: 450px;
    }
    .menu {
        text-align: center;
    } 
} 

@media (max-width: 767.98px) {
   .enquiry-form input, textarea {
        width: 500px;    
    }  
    .footer-links {
        padding-left: 30px;
    }
}

@media (max-width: 575.98px) {
    #h-image, #h-image-rooms, #h-image-food, #h-image-enquire, #gallery-image {
    height: 400px;
    }
    .about-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .about{
        padding-bottom: 0px;
    }
    .about-us-image1 img {  
        padding: 40px;
        max-height: 300px;
        max-width: 350px;
    }
    .quotes-image img {  
        padding: 40px;
        max-height: 300px;
        max-width: 350px;
    }
    .quote-header {
        padding-bottom: 0px;
    }
    .rooms-text {
        padding-left: 40px;
        padding-right: 40px; 
    }
    .bedroom {
        padding: 40px;
        max-height: 300px;
        max-width: 350px;
    }
    .about-food {
        padding-left: 30px;
        padding-right: 30px;
    }
    .food-image img {
        max-height: 300px;
        max-width: 350px; 
    }
    .food-image {
        text-align: center;
        padding-bottom: 20px;
    }
    .menu-card img {
       max-height: 250px;
       max-width: 300px;
    }
    .enquire-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .enquiry-form input, textarea {
        width: 325px;   
    }  
    .slideshow {
        max-height: 300px;
        max-width:  350px;           
    }
}

@media (max-width: 429.98px) {
   .about-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-us-image1 img {  
        padding: 20px;
        max-height: 200px;
        max-width: 250px;
    }
    .quotes-image img {  
        padding: 20px;
        max-height: 200px;
        max-width: 250px;
    } 
}

@media (max-width: 392.98px) {
    .bedroom {
        padding: 20px;
        max-height: 200px;
        max-width: 250px;
    }    
    .enquire-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .enquiry-form input, textarea {
        width: 250px;   
    } 
    .food-image img {
        max-height: 250px;
        max-width: 300px; 
    }
    .menu-card img {
       max-height: 200px;
       max-width: 250px;
    }
}





    
