body {
    font-family: 'Crimson Text', serif;
}

.heading {
    margin-left: 10px;
    text-transform: uppercase;
    padding: 2px;
    letter-spacing: 4px;
    font-size: 24px; 
    display: inline-block;
     }

     
.heading a {
    text-decoration: none;
    color: #eed3b7;
}

.navbar {
    float: right;
    line-height: 0px;
    border: 2px solid #eed3b7;
    margin-right: 20px;
}

.list-inline-item {
    padding: 2px;
    margin-right: 40px;
}

.nav-item a {
    color: #eed3b7;
    font-size: 110%;
    font-weight: bold;
    padding: 5px;
}

.himage {
    background: url("../images/heading1.jpg") no-repeat;
    height: 500px;
    width: 100%;
    
}





    
