@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
   font-family: 'Playfair Display' , sans-serif;
}

/*------------------------------Header---------------------------*/


#h-image {
    display: block;
    background: url("../../images/index-header.jpg") no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}


#heading {
    float: left;    
    color: #282930;
    letter-spacing: 6px;
    font-size: 36px;
    font-weight: bold; 
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 0px #ccc;  
}

.list-inline-item {
    margin-left: 20px;
    margin-top: 15px;    
}

.nav-item a {    
    color: #aa9a8a;
    font-weight: bold;
    padding: 3px;
    text-transform: uppercase;
    
}

/*------------------------------About us section---------------------------*/

.about-section {
 background-color: #eed3b7;
 color: #282930;
 }

.about {
    text-align: justify;
    margin-top: 20px;    
    padding-bottom: 20px;
}

.about-us-image1 {     
    background: url("../../images/kissing.jpg") no-repeat center; 
    margin-top: 20px;
    display: flex;
}
.about-us-image2 {
    background: url("../../images/kissing2.jpg") no-repeat center; 
    margin-top: 20px;
    display: flex;
    }

.container-quotes {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}



/*------------------------------Rooms Page---------------------------*/

#h-image-rooms {
    display: block;
    background: url(../../images/pillows.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}


.rooms-background {
    background-color: #eed3b7;
}

.rooms-section {
    padding-top: 30px;
}

.rooms {    
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.bedroom {
    padding: 30px;
    height: 400px;
    width: 600px;
}

.rooms h2 {
    margin-top: 8%;
    font-style: bold;
}

.room-description {
    width: 600px;
    text-align: justify;
    margin: 0 auto; 
}

.room-description p{
    margin-top: 10px;
    font-size: 130%;
    
}

/*------------------------------Food Page---------------------------*/

#h-image-food {
    display: block;
    background: url(../../images/food-header.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.food-background {
   background-color: #eed3b7; 
}

.about-food {
    padding-bottom: 0px;
    text-align: center;
    margin: 0 auto;    
}

.about-food-container {
    margin: 0 auto;
}

.food-image {
    padding: 20px;
    margin-top: 30px;
    height: 400px;
    width: 600px;   
     
}

.about-food h2 {
    margin-top: 30px;
    font-style: bold;
}

.food-description {
    width: 80%;
    text-align: justify;
    margin: 0 auto; 
    padding-bottom: 20px;
}

.food-description p {
    margin-top: 10px;
    font-size: 110%;
}

.menus {
    margin: 0 auto;
    padding-left: 10px;
    text-decoration: none;
}

.menu-card img {
    width: 250px;
    height: 200px;
}

.menu-card {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;   
}

.menu-card a {
    text-decoration: none;
}

.menu-card h4 {
    color: #282930;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 20px;
}
/*------------------------------Enquiry---------------------------*/

#h-image-enquire {
    display: block;
    background: url(../../images/rings.jpg) no-repeat center;
    height: 600px;
    width: 100%;    
    background-size: cover;    
    display: flex;
}

.enquire-section {
    background-color: #eed3b7;
}

.about-enquire {
    width: 80vw;
    text-align: justify;
    margin: 0 auto;
}

.about-enquire h2 {
    text-align: center;
    font-style: bold;
    margin-top: 30px;
}

.about-enquire p {
    margin-top: 20px;
    font-size: 110%;
}

.contact-us {
    background-color: #7f6a55;
    margin-top: 20px;
    text-align: center;    
}

.contact-details {
    padding: 25px;
}

.contact-us h3 {
    color:#bda58d;
    line-height: 40px;
}

.contact-us h4 {
    color:#f0efed;
    font-style: bold;
    line-height: 40px;
}

.enquiry-form {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 60%;
}

.enquiry-form input, textarea {
    width: 600px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;    
}

button:hover {
    border: 2px solid #282930;
}

/*------------------------------Footer---------------------------*/

footer {
    background-color: #282930;
    color: #eed3b7;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.address {
    margin-left: 30px;
    margin-top: 12px;
}

.winner i {
    margin-top: 12px;
    margin-left: 30px;
    font-size: 50px;
}

.winner-text {
    padding-top: 10px;
    font-size: 36px;
}

.winner h5 {
    margin-left: 30px;    
}

.footer-links li a i {
    color: #eed3b7;
    padding-right: 40px;
    padding-top: 30px;
    font-size: 50px;
}

.copyright p {
    margin-left: 30px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*------------------------------Media Queries---------------------------*/

@media (max-width: 575.98px) {
    #heading {
        float: none;
        letter-spacing: 2px;
        font-size: 24px;
        clear: right;
    }
    .list-inline-item {
        margin-left: 0px;
        margin-top: 10px;        
    }
    .nav-item a {    
        font-size: 14px;
    }
    #h-image {
        max-height: 300px;
        width: 100vw;    
    }
    .about-section {
        margin-top: 20px;
        margin-left: 0px;        
        padding-bottom: 0px;    
    }
    .about-section h2 {
        font-size: 18px;
        font-style: bold;
        text-align: center; 
    }
    .about-section p {
        font-size: 14px;
    }
    .image-container {   
        margin-left: 20px;
        margin-top: 0px;
        
    }
    #about-us-image1 {     
        width: 535px;
        height: 400px;
    }
    .quote-col {
        text-align: center;
    }
    .quote-section {
        margin-top: 10px;
        margin-left: 0px;
        padding-bottom: 10px;
    }
    #quote {
        font-size: 16px;        
        text-align: justify;
        margin-top: 0px;  
        margin-left: 0px; 
        
    }
    #quote-from {
        font-weight: bold;
        margin-left: 0px;
        font-size: 16px;
    }
    footer {
        font-size: 16px;
    }
    .address {
        margin-left: 0px;
        margin-top: 16px;
    }
   .winner i {
        margin-top: 5px;
        margin-left: 0px;
        font-size: 50px;
    }
    .winner-text {
        padding-top: 0px;
        font-size: 20px;
    }
    .winner h5 {
        margin-left: 0px;
        font-size: 18px;    
    }
    .footer-links {
       padding-inline-start: 0px;
    }
    .footer-links li a i {
        padding-right: 0px;
        padding-top: 5px;
        font-size: 26px; 
    }
    .copyright{
        max-width: 190px;
    }
    .copyright p {
        margin-left: 0px;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 15px;        
    } 
}
    






    
